<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TodoManager</title>

	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		tailwind.config = {
		theme: {
		extend: {
		fontFamily: {
		raleway: ['Raleway', 'sans-serif'],
		}
		}
		}
		}
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const loc = window.location.pathname;
			const logoutButton = document.getElementById("logout");
			if (logoutButton) {
				if (loc === "/Account/Login" || loc === "/Account/Register") {
					logoutButton.style.display = "none";
				} else {
					logoutButton.style.display = "block";
				}
			}
		});
	</script>


	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/pp-pangaia" rel="stylesheet">


</head>
<body class="font-raleway bg-gray-50 text-gray-800 min-h-screen flex flex-col">

	<header class="bg-white shadow">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
			<a href="/" class="text-xl font-bold text-blue-600">TodoManager</a>

			<div class="flex flex-row gap-4">
				@if (Url != null && Context.Request.Path != Url.Action("Create", "Todo"))
				{
					<a href="@Url.Action("Create", "Todo")" class="bg-blue-300 text-black p-1 border border-black outline-black hover:bg-blue-400 transition ease-in duration-200 md:p-2 text-xs md:text-l content-center">
						Create new TODO
					</a>
				} 
				<form asp-action="Logout" asp-controller="Account" method="post">
					<button class="p-2 bg-red-200 text-black border border-black hover:bg-red-400 transition ease-in duration-200" id="logout">Logout</button>
				</form>
			</div>

		</div>
	</header>


	<main role="main" class="flex-grow container mx-auto px-4 py-6">
		@RenderBody()
	</main>

	@* <footer class="bg-white border-t mt-auto py-4 text-center text-sm text-gray-500"> *@
	@*     &copy; @DateTime.Now.Year - TodoManager *@
	@* </footer> *@

	<!-- Optional Scripts -->
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
