@{
    ViewData["Title"] = "Edit Todo";
}

@model TodoManager.Models.Todo

<h2 class="font-bold text-xl">Update Todo</h2>

<form asp-controller="Edit" asp-action="Edit" method="post" class="flex flex-col w-full gap-4 lg:w-1/2">
    <input type="hidden" asp-for="Id" />

    <label>Title</label>
    <input asp-for="Title" class="p-2 border border-gray-400 outline-none" />
    <span asp-validation-for="Title" class="text-red-500 text-sm"></span>

    <label>Description</label>
    <textarea asp-for="Description" rows="4"
              class="w-full p-3 border border-gray-400 shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-200 resize-none">
    </textarea>
    <span asp-validation-for="Description" class="text-red-500 text-sm"></span>

    <label>Priority</label>
    <select asp-for="Priority" class="p-2 border border-gray-400 outline-none">
        <option value="">Select Priority</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
		<option value="None">None</option>
    </select>
    <span asp-validation-for="Priority" class="text-red-500 text-sm"></span>
    <div>

            <button type="submit" class="bg-blue-300 p-2 border border-black text-black hover:bg-blue-400 transtion ease-in duration-200">Save Changes</button>
        
            <button type="button" onclick="deleteTodo(@Model.Id)" class="bg-red-300 p-2 border border-black text-black hover:bg-red-400 ease-in duration-200">Delete</button>
    </div>
</form>

<script>
    async function deleteTodo(id) {
        if (confirm("Are you sure you want to delete this todo?")) {
            const response = await fetch(`/Edit/Delete/${id}`, {
                method: 'DELETE',
                headers: {
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                }
            });

            if (response.ok) {
                window.location.href = '/Todo';
            } else {
                alert('Failed to delete the todo.');
            }
        }
    }

	async function updateTodo() {
		const form = document.querySelector('form');
		const formData = new FormData(form);
		const response = await fetch(form.action, {
			method: 'POST',
			body: formData,
			headers: {
				'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
			}
		});
		if (response.ok) {
			window.location.href = '/Todo';
		} else {
			alert('Failed to update the todo.');
		}
	}
</script>
